.container {
  border: 1px solid #131413;
  width: 50%;
  margin: 15px;
  border-radius: 5px;
  min-width: 300px;
  padding: 15px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  
}
 