.kg-item {
  font-weight: bold;
  font-size: 1.2rem;
  color: #2c3e50;
  background-color: rgb(252, 253, 253);
} 

.item-text {
 color: rgb(25, 162, 25);
}

.button {
  float: right;
  cursor: pointer;
}

