.kg_item {
  font-weight: bold;
  font-size: 1.2rem;
  color: #dbe0e4;
  background-color: rgb(252, 253, 253);
} 

.kg-span {
 color: rgb(8, 7, 3);

}

.button {
  float: right;
  cursor: pointer;
}

.button {
    
}
